<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" /> -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Mienie komunalne Index2</title>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <script type="text/javascript" src="js/script.js"/>

    <!-- Custom styles for this template -->
    <link href="css/style_index2.css" rel="stylesheet"/>

    <script src="js/bootstrap.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/navmenu :: header"></th:block> /*/-->
</div>
<p>ERROR. Wprowadzone dane są błędne. Spróbuj ponownie <br/>
Upewnij się, że: <br/>
- Numer BOM musi być większy niż 0 (zero).
</p>
</body>
</html>