﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl" th:fragment="head">
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	
	<script type="text/javascript" src="js/script.js" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Mienie Komunalne - Mapa</title>

    
</head>
<body>
<div class="container">
	<!--/*/ <th:block th:include="fragments/headernavigation :: header"></th:block> /*/-->
</div>
<p>Na stronie mapa</p>
<div class="container" id="dane_i_mapaTylko">
	<div class="container" id="dane">
	    <div th:if="${not #lists.isEmpty(budynki)}">
	    <h2>Lista budynków</h2>
	    <table class="table table-striped" id="table1" border="1" >
	    	<tr>
	    		<th>LP</th>
	    		<th>ulica</th>
	    		<th>nr</th>
	    		<th>liczba lokali</th>
	    	</tr>
	    	<tr th:each="budynek : ${budynki}">
	    		<td class="rowId" th:text="${budynek.lp}">id budynku</td>
	    		<td class="ulicaclass" th:text="${budynek.ulica}">ulica</td>
	    		<td class="nrclass" th:text="${budynek.nr}">nr budynku</td>
	    		<td th:text="${budynek.liczbaLokali}">liczba Lokali</td>
	    		<td class="latitude" style="display:none;" th:text="${budynek.latitude}">latitude</td>
	    		<td class="longitude" style="display:none;" th:text="${budynek.longitude}">longitude</td>
	    	</tr>
	    </table>
    
    </div>
	</div>
	<div id="map">	
	</div>
</div>



<script>
function LatLong(lat,lng) {
	this.lat = lat;
	this.lng = lng;
}

google.maps.event.addDomListener(window, 'load', function initialize() {
	<!-- draw the map -->
    var mapCanvas = document.getElementById('map');
    
    var mapOptions = {
      center: new google.maps.LatLng(54.3500, 18.6333),
      zoom: 11,
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);  
    var tbl = $('#table1');
	var budynekId;
	var ulica;
	var nr;
	var lati;
	var longi;
	var myLatiLongi;
	var markertitle = 'xxxxxxqqqq';
	tbl.find('tr').each(function(){
		budynekId =  $(this).find(".rowId").html();
		ulica = $(this).find(".ulicaclass").html();
		nr = $(this).find(".nrclass").html();
		lati = Number($(this).find(".latitude").html());
		longi = Number($(this).find(".longitude").html());
		
		
		var markertitle = "LP: "+String(budynekId)+", ulica: "+String(ulica)+", nr: "+String(nr);
		myLatiLongi = new LatLong(lati,longi);
		var marker = new google.maps.Marker({
		    position: myLatiLongi,
		    map: map,
		    title: markertitle,
		    visible: true
		  });
	});
		//alert($(this).find(".latitude").html());
		//alert($(this).find(".longitude").html());
});
</script>
</body>
</html>